body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
    {background-color: }
}
.choice-btn {
    padding: 60px;
    margin: 5px;
    font-size: 1660px;
    cursor: pointer;
  color:greenyellow
  black
    
}